.Load {
  text-align: center;
}

.Load-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Load-logo {
    animation: Load-logo-spin infinite 20s linear;
  }
}

@keyframes Load-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
